Chapter 1

Programing: provided a computer or machine with a coded instructions for the performance of a task

Interpreter: It is computer program that translate high-level programming into machine codes, without first compiling them into machine language.

Compiler: is a computer program that translate code written in one programming language to another.

Integrated Development Environment(IDE): A software Application that helps programmer develop software code efficiently.

Prompt: it is a message or texts that ask the user for their input or provides instruction.

String: A sequence of character that represents text.

Expression: A combination of Variables, Operators, Literals and function calls, that provide a value when executed.

Shortcut to create a new Python script module: 
To run a Python script module:
Load the Python script code:
Load previously executed code from the Python shell:
Loading script code for Python development from the Python Shell:

In [1]:
print(100)

100

In [2]:
print(100 + 200)

300

In [3]:
print('100 + 200')

100 + 200

In [4]:
print(100, 200)

100 200

In [5]:
print('100', '200')

100 200

In [10]:
print('100''200')

100200

In [8]:
print('Hello Python!')

Hello Python!

In [9]:
print('Hello', 'Python', '!')

Hello Python !

In [11]:
print('Hello' + 'Python' + '!')

HelloPython!

In [12]:
print('Hello''Python''!')

HelloPython!

In [13]:
print('**************')

**************

In [14]:
print('*' * 8)

********

In [15]:
print('Hello Python!") # unterminated string literal

SyntaxError: unterminated string literal (detected at line 1) (1408595535.py, line 1)

In [16]:
print('Hello Python!')

Hello Python!

In [17]:
print('*' 20) # invalid syntax

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1333417461.py, line 1)

In [19]:
print('*', 20)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1823810997.py, line 1)

In [21]:
print(Life is short learn Python!) # invalid syntax

SyntaxError: invalid syntax (4129943471.py, line 1)

In [22]:
print('Life is short learn Python!')

Life is short learn Python!

In [23]:
print(100 + '200') # unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
print('100' + '200') # either it is string + string operand type

100200

In [25]:
print(100 + 200) # or it is int + int operand type

300

In [28]:
print('*')
print('**')
print('***')
print('****')
print('*****')
print('******')

*
**
***
****
*****
******

In [1]:
import turtle

t = turtle.Turtle()
t.shape('turtle')

t.forward(100)
t.left(135)
t.forward(141.4)
t.left(135)
t.forward(100)

In [1]:
import turtle

t = turtle.Turtle()
t.shape('turtle')

t.forward(100)
t.left(120)
t.forward(100)
t.left(60)
t.forward(100)
t.left(120)
t.forward(100)
t.left(120)
t.forward(100)
t.right(60)

In [1]:
400 - 200 + 100

300

In [2]:
409 * 200 - 100

81700

In [3]:
6 * 3 / 9

2.0

In [4]:
9 ** 3

729

In [5]:
9 / 3

3.0

In [6]:
9 // 3

3

In [7]:
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10

55

In [8]:
2 * 3.14 * 5 ** 2

157.0

In [9]:
4 * 20

80

In [10]:
20 * 20

400

In [12]:
2*10 + 2*30

80

In [13]:
10 * 30

300

In [14]:
4 * 3 * 2 * 1

24

In [15]:
5 * 4 * 3 * 2 * 1

120

In [16]:
6 * 5 * 4 * 3 * 2 * 1

720

Chapter 2

In [17]:
print ( 100, '+', 200 ,'=', 100 + 200)

100 + 200 = 300

In [18]:
print( 200, '+', 300, '+', 400, '=', 200 + 300 + 400)

200 + 300 + 400 = 900

In [19]:
width = 30
height = 60

In [20]:
print(width)

30

In [21]:
print(height)

60

In [22]:
width, height = 30, 60

In [23]:
print(width)

30

In [24]:
print(height)

60

In [25]:
a = int(input('input the length of the square: '))
area_square = a * a
print(area_square)

input the length of the square:  40

1600

In [26]:
print(1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10)

55

In [27]:
print(10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1)

3628800

In [31]:
celcius = int(input(' input a celcius value to get the equavalenet fahrenheit: '))
fahrenheit = (9/5) * celcius + 32
print('celcius degree is', celcius, 'fahrenheit degree is', fahrenheit)

 input a celcius value to get the equavalenet fahrenheit:  30

celcius degree is 30 fahrenheit degree is 86.0

In [33]:
circle_radius = int(input("input the circle's radius to get it's area and circumference: "))
circle_area = 3.141592 * circle_radius ** 2
circle_perimeter = 2 * 3.141592 * circle_radius
print('the area of the circle is:', circle_area, 'the area of the perimeter is:', circle_perimeter)

input the circle's radius to get it's area and circumference:  11

the area of the circle is: 380.132632 the area of the perimeter is: 69.115024

In [47]:
print("It's really hot!\n" "I said \"Hello!\" to him.\n" "He said \"What's there?\\n" "Newline character is \\n, Tab character is \\t.\n" "Working directory is C:\workspace\mywork.")

It's really hot!
I said "Hello!" to him.
He said "What's there?\nNewline character is \n, Tab character is \t.
Working directory is C:\workspace\mywork.

# chapter 3

In [50]:
n = 2
number = int(input('input any number and you will get the square of it: '))
square = number ** 2 







print('the square of the number', number, 'is', square)

input any number and you will get the square of it:  2

 the square of the number 2 is 4

In [51]:
n = 0.5
number = int(input('input any number and you will get the square root of it: '))
square_root = number ** n
print('the square root of the number', number, 'is', square_root)

input any number and you will get the square root of it:  2

the square root of the number 2 is 1.4142135623730951

In [48]:
print(2, 3 << 1, 4 << 2, 5 << 3, 2 << 4, 2 << 5, 2 << 6, 2 << 7, 2 << 8, 2 << 9)

2 6 16 40 32 64 128 256 512 1024

In [58]:
n = int(input('input a number and i will tell if it is a even number: '))
even_range = n % 2 == 0 and 0 <= n <= 100
# range = 0 <= n <= 100 
print('the integer you have entered between the even integers of the range 0 to 100?:', even_range)

input a number and i will tell if it is a even number:  120

the integer you have entered between the even integers of the range 0 to 100?: False

In [59]:
print(bin(5))

0b101

In [60]:
print(bin(6))

0b110

In [62]:
print('0b101 & 0b110 =', bin(0b101 & 0b110))
print('0b101 | 0b110 =', bin(0b101 | 0b110))
print('0b101 ^ 0b110 =', bin(0b101 ^ 0b110))

0b101 & 0b110 = 0b100
0b101 | 0b110 = 0b111
0b101 ^ 0b110 = 0b11

In [64]:
a = int(input('input a number: '))
b = int(input('input a number: '))
division = a // b
remainder = a % b
print(division)
print(remainder)

input a number:  202
input a number:  50

4
2

In [65]:
n = int(input('input a number: '))
h = n // 100
t = (n % 100) // 10
u = (n % 100) % 10
print(h)
print(t)
print(u)

input a number:  349

3
4
9

In [66]:
n = int(input('input a number: '))
h = n // 100
t = (n % 100) // 10
u = (n % 100) % 10
print(u)
print(t)
print(h)

input a number:  349

9
4
3

In [78]:
n = int(input('input a number: '))
h = n // 100
t = (n % 100) // 10
u = (n % 100) % 10
print(h, t, u)

input a number:  349

3 4 9

In [89]:
m = float(input('input a number: '))
hour = int(m)
minute1 = ((m % hour) * 60)
minute2 = int(((m % hour) * 60))
sec = int((minute1 % minute2) * 60)
print(hour, minute2, sec)

input a number:  12.342

12 20 31

Chapter 4

In [ ]:
for i in [a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z]:
    alphabet = input('input an alphabet: ')
    if alphabet in [a,e,i,o,u]:
        print(alphabet, 'is a vowel

## chapter 4

#### 4.1

In [18]:
alphabet = input('Enter an alphabet: ')

if alphabet == 'a' or alphabet == 'e' or alphabet == 'i' or alphabet == 'o' or alphabet == 'u':
    print(alphabet, 'is a vowel')
else:
    print(alphabet, 'is a consonant')

Enter an alphabet:  z

z is a consonant

#### 4.2

In [4]:
a, b, c = map(int, input('Enter three random numbers: ').split())

if a > b > c:
    print(a, b, c)
elif a > c > b:
    print(a, c, b)
elif b > a > c:
    print(b, a, c)
elif b > c > a:
    print(b, c, a)
elif c > b > a:
    print(c, b, a)
elif c > a > b:
    print( c, a, b)
else:
    print('You entered something incorrectly')

Enter three random numbers:  9 4 122

122 9 4

#### 4.3

In [20]:
age = int(input('Enter your age: '))

if 0 <= age < 10:
    print('You still a kid')
elif 10 <= age < 20:
    print('You are a Youth')
else:
    print('You are an Adult')

Enter your age:  3

You still a kid

#### 4.4

In [24]:
number = int(input('Enter an integer: '))

if number % 2 == 0:
    print(number, 'is divisible by 2')
if number % 3 == 0:
    print(number, 'is divisible by 3')
if number % 3 == 0 and number % 2 == 0:
    print(number, 'is divisible by both 2 and 3')
if number % 2 != 0:
    print(number, 'is not divisible by 2')
if number % 3 != 0:
    print(number, 'is not divisible by 3')
else:
    print(number, 'is not divisible by 2 and 3')

Enter an integer:  15

15 is divisible by 3
15 is not divisible by 2
15 is not divisible by 2 and 3

#### 4.5

In [45]:
import random

a, b, c = map(int, input('Guess the three lucky numbers: ').split())
lucky1 = random.randint(0, 9)
lucky2 = random.randint(0, 9)
lucky3 = random.randint(0, 9)

if (a == lucky1 or a == lucky2 or a == lucky3) and (b == lucky1 or b == lucky2 or b == lucky3) and (c == lucky1 or c == lucky2 or c == lucky3):
    print('You won 100 million')
elif (a == lucky1 or a == lucky2 or a == lucky3) and (b == lucky1 or b == lucky2 or b == lucky3):
    print('you won 10 million')
elif (a == lucky1 or a == lucky2 or a == lucky3) and (c == lucky1 or c == lucky2 or c == lucky3):
    print('you won 10 million')
elif (b == lucky1 or b == lucky2 or b == lucky3) and (c == lucky1 or c == lucky2 or c == lucky3):
    print('you won 10 million')
elif (a == lucky1 or a == lucky2 or a == lucky3) or (b == lucky1 or b == lucky2 or b == lucky3) or (c == lucky1 or c == lucky2 or c == lucky3):
    print('you won 10 thousand')
else:
    print('Try again')
print('lucky number: ', lucky1, lucky2, lucky3)

Guess the three lucky numbers:  3 5 8

you won 10 thousand
lucky number:  8 9 0

#### 4.6

In [51]:
menu_select = input('choose between alphabet b, c, p: ')

if menu_select == 'b':
    print('you selected hamburger')
elif menu_select == 'c':
    print('you selected chicken')
elif menu_select == 'p':
    print('you selected pizza')
else:
    print('the alphabet you inputed has no menu !')

choose between alphabet b, c, p:  o

the alphabet you inputed has no menu !

#### 4.7

In [56]:
import random

random_number_1 = random.randint(1, 100)
random_number_2 = random.randint(1, 100)
answer = random_number_1 + random_number_2
user_answer = int(input(str(random_number_1) + ' + ' + str(random_number_2) + ' = '))
if user_answer == answer:
    print('You got it right!')
else:
    print('You missed it, the correct answer is', answer)

70 + 84=  67

You missed it, the correct answer is 154

#### 4.8

In [60]:
print('1 for addition, 2 for substraction, 3 for multiplication, 4 for division')
user_operation = input('Enter the mathematical operation number you would like to use: ')
a, b = map(int, input('Enter the two digits number you want to work on: ').split())
if user_operation == '1':
    print(a, '+', b, '=', a + b)
elif user_operation == '2':
    print(a, '-', b, '=', a - b)
elif user_operation == '3':
    print(a, '*', b, '=', a * b)
elif user_operation == '4':
    print(a, '/', b, '=', a / b)
else:
    print('you typed a wrong number')

1 for addition, 2 for substraction, 3 for multiplication, 4 for division

Enter the mathematical operation number you would like to use:  4
Enter the two digits number you want to work on:  3 4

3 / 4 = 0.75

#### 4.9

In [3]:
import turtle

# Function to draw a rectangle
def draw_rectangle(x1, y1, x2, y2):
    turtle.penup()
    turtle.goto(x1, y1)
    turtle.pendown()
    turtle.goto(x2, y1)
    turtle.goto(x2, y2)
    turtle.goto(x1, y2)
    turtle.goto(x1, y1)

# Function to draw a point
def draw_point(x, y):
    turtle.penup()
    turtle.goto(x, y)
    turtle.dot(5)  # Draw the point as a circle

# Input coordinates
left_bottom_x, left_bottom_y = map(int, turtle.textinput("Input", "Left bottom corner coordinates x, y: ").split())
right_top_x, right_top_y = map(int, turtle.textinput("Input", "Right top corner coordinates x, y: ").split())
point_x, point_y = map(int, turtle.textinput("Input", "Point coordinates x, y: ").split())

# Check if the coordinates make a valid rectangle
if left_bottom_x >= right_top_x or left_bottom_y >= right_top_y:
    print("Error: Invalid coordinates for the rectangle.")
    turtle.done()
    exit()

# Draw the rectangle
draw_rectangle(left_bottom_x, left_bottom_y, right_top_x, right_top_y)

# Draw the point
draw_point(point_x, point_y)

# Check if the point is inside the rectangle and display the result
if left_bottom_x < point_x < right_top_x and left_bottom_y < point_y < right_top_y:
    turtle.write('The point is inside the rectangle', align='center')
else:
    turtle.write('The point is outside the rectangle', align='center')

# Keep the window open to see the drawing
turtle.done()

#### 5.1

In [4]:
for odd in range(1, 101, 2):
    print(odd, end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

#### 5.1_2

In [6]:
count = 1
while count < 100:
    print(count, end = ' ')
    count += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

#### 5.1_3

In [7]:
for even in range(2, 100, 2):
    print(even, end = ' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

#### 5.1_4

In [9]:
count = 2
while count <= 100:
    print(count, end = ' ')
    count += 2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

#### 5.2_1a

In [10]:
sum = 0
for num in range(1, 101, 2):
    sum += num
print(sum)

2500

#### 5.2_1b

In [12]:
sum = 0
count = 1
while count < 100:
    sum += count 
    count += 2
print(sum)

2500

#### 5.2_2a

In [13]:
sum = 0
for even in range(2, 101, 2):
    sum += even
print(sum)

2550

#### 5.2_2b

In [20]:
sum = 0
count = 2
while count <= 100:
    sum += count
    count += 2
print(sum)

2550

#### 5.2_3

In [21]:
num1 = int(input('enter your first number: '))
num2 = int(input('enter your second number: '))
sum = 0
for i in range(num1, num2+1):
    sum += i
print(sum)

enter your first number:  2
enter your second number:  6

20

#### 5.3

In [ ]:
print('맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.')
print("1) 햄버거 n/", "2) 치킨 n/", "3) 피자 n/")
user_menu = int(input('select a number from 1 to 3: '))

if user_menu == 1:
    print('hamburger')
elif user_menu == 2:
    print('chicken')
elif user_menu == 3:
    print('pizza')
else:
    while (user_menu != 1) or (user_menu != 2) or (user_menu != 3):
        print('Select a different menu')
        break

5.4

In [9]:
user_num = int(input('enter a number: '))

for i in range(1, user_num + 1):
    print('*' * i)

enter a number:  5

*
**
***
****
*****

5.5

In [31]:
climb = 7
fall = 5
day_steps = 0
days = 0

while climb < 30:
    climb += day_steps
    days += 1
    print('day : {0} position : {1}'.format(days, climb))
    day_steps = 2

day : 1 position : 7
day : 2 position : 9
day : 3 position : 11
day : 4 position : 13
day : 5 position : 15
day : 6 position : 17
day : 7 position : 19
day : 8 position : 21
day : 9 position : 23
day : 10 position : 25
day : 11 position : 27
day : 12 position : 29
day : 13 position : 31

5.6

In [27]:
fuel_amount = 500

while initial_fuel_amount > 50:
    user_input = int(input('Please enter fuel charged or used with +/- signs: '))
    initial_fuel_amount += user_input
    print('Current tank volume is: ', initial_fuel_amount)
print('Warning!!!, your tank volume has gone below 10%')

Please enter fuel charged or used with +/- signs:  +60

Current tank volume is:  560

Please enter fuel charged or used with +/- signs:  -300

Current tank volume is:  260

Please enter fuel charged or used with +/- signs:  -220

Current tank volume is:  40
Warning!!!, your tank volume has gone below 10%

5.7

In [32]:
def find_armstrong_numbers():
    armstrong_numbers = []
    for number in range(100, 1000):
        x = number // 100         # Extract the hundreds digit
        y = (number // 10) % 10   # Extract the tens digit
        z = number % 10           # Extract the units digit
        
        # Calculate the sum of cubes of the digits
        if number == x**3 + y**3 + z**3:
            armstrong_numbers.append(number)
    
    return armstrong_numbers

# Find and print all three-digit Armstrong numbers
armstrong_numbers = find_armstrong_numbers()
print("Armstrong number in three digits:", ' '.join(map(str, armstrong_numbers)))

Armstrong number in three digits: 153 370 371 407

5.8

In [50]:
while True:
    num = input('enter an integer: ')
    num_list = list(num)
    if num_list[::] == num_list[::-1]:
        print('{} is an inverted integer'.format(num))
    if num_list[::] != num_list[::-1] and num != '-99':
        print('{} is not an inverted integer'.format(num))
    if num == '-99':
        print('This program has just being terminated')
        break

enter an integer:  3443

3443 is an inverted integer

enter an integer:  324

324 is not an inverted integer

enter an integer:  -99

This program has just being terminated

5.9

In [25]:
num_list = []
highest = 0
lowest = 0
counter = 0
while True:
    num = int(input('enter a postitive integer: '))
    if num == -99: 
        break
    num_list.append(num)
    counter += 1
for i in num_list:
    if highest > i:
        print('highest', highest)
    else:
        highest = i
        print('highest', highest)
for l in num_list:
    if num_list[0] > l:
        lowest = l
        print('lowest',lowest)
    else:
        lowest = num_list[0]
        print('lowest',lowest)
    
    
print('among this {0} numbers typed by you, {1} was the heighest and {2} was the lowest.'.format(counter, highest, lowest))

enter a postitive integer:  34
enter a postitive integer:  920
enter a postitive integer:  320
enter a postitive integer:  30
enter a postitive integer:  -99

highest 34
highest 920
highest 920
highest 920
lowest 34
lowest 34
lowest 34
lowest 30
among this 4 numbers typed by you, 920 was the heighest and 30 was the lowest.

5.10_for

In [1]:
import turtle
import random

t = turtle.Turtle()
t.shape('turtle')

for i in range(30):
    random_num = random.randrange(2)
    if random_num == 0:
        t.left(90)
        t.forward(50)
    if random_num == 1:
        t.right(90)
        t.forward(50)

5.10_while

In [1]:
import turtle
import random

t = turtle.Turtle()
t.shape('turtle')

i = 0

while i < 30:
    random_num = random.randrange(2)
    if random.randrange(2) == 0:
        t.left(90)
    else:
        t.right(90)
    t.forward(50)
    i +=1

6.1

In [3]:
def square(n):
    return n**2

print('3의 제곱은 : ', square(3))
print('4의 제곱은 : ', square(4))

3의 제곱은 :  9
4의 제곱은 :  16

6.2

In [5]:
def max2(m, n):
    if m > n:
        return m
    else:
        return n

def min2(m, n):
    if m < n:
        return m
    else:
        return n

print('100과 200중 큰 수는 :', max2(100, 200))
print('100과 200중 작은 수는 :', min2(100, 200))

100과 200중 큰 수는 : 200
100과 200중 작은 수는 : 100

6.3

In [7]:
def max3(m, n, p):
    if m > n and m > p:
        return m
    if n > p and n > p:
        return n
    if p > n and p > m:
        return p

def min3(m, n, p):
    if m < n and m < p:
        return m
    if n < p and n < p:
        return n
    if p < n and p < m:
        return p

a, b, c = map(int, input('enter 3 numbers: ').split())
print('the biggest number among the inputed 3 numbers is: ', max3(a, b, c))
print('the smallest number among the inputed 3 numbers is: ', min3(a, b, c))

enter 3 numbers:  34 66 20

the biggest number among the inputed 3 numbers is:  66
the smallest number among the inputed 3 numbers is:  20

6.4

In [15]:
def max_and_min(n1, n2, n3):
    max_value = max(n1, n2, n3)
    min_value = min(n1, n2, n3)
    return max_value, min_value

# Input from the user
a, b, c = map(int, input('Enter 3 numbers: ').split())

# Get the maximum and minimum values
max_value, min_value = max_and_min(a, b, c)

# Print the results
print('The biggest number is:', max_value)
print('The smallest number is:', min_value)

Enter 3 numbers:  34 66 20

The biggest number is: 66
The smallest number is: 20

6.5

In [16]:
def cel2fah(celsius):
    fahrenheit = (9/5) * celsius + 32
    return fahrenheit

for i in range(0, 50, 10):
    fahrenheit = cel2fah(i)
    print('Celcius temperature: {0}, corresponding Farenheit temperature: {1}.'.format(i, fahrenheit))

Celcius temperature: 0, corresponding Farenheit temperature: 32.0.
Celcius temperature: 10, corresponding Farenheit temperature: 50.0.
Celcius temperature: 20, corresponding Farenheit temperature: 68.0.
Celcius temperature: 30, corresponding Farenheit temperature: 86.0.
Celcius temperature: 40, corresponding Farenheit temperature: 104.0.

6.6

In [30]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n-1):
        if n % i == 0:
            return False
    return True
user_num = int(input('enter a number: '))
print('is it a prime number? ', is_prime(user_num))

enter a number:  13

is it a prime number?  True

6.7

In [41]:
def factorial(n):
    m = 1
    for i in range(n, 1, -1):
        m = m * i
    print(m)

factorial(7)

5040

6.8

In [46]:
def distance(x1, y1, x2, y2):
    distance = (((x2-x1)**2) + ((y2-y1)**2))**0.5
    return distance

x1, y1, x2, y2 = map(int, input('enter the values of each respectively: ').split())
print('({},{})과 ({},{}) 사이의 거리는 {}.'.format(x1, x2, y1, y2, distance(x1, y1, x2, y2)))

enter the values of each respectively:  4 2 2 1

(4,2)과 (2,1) 사이의 거리는 2.23606797749979.

## chapter 7

7.1

#### num_list = [100, 200, 300, 400, 500, 600, 700, 800]
high = 6
low = 3

In [2]:
num_list[high]

700

In [3]:
num_list[high - 2]

500

In [4]:
num_list[high - low]

400

In [5]:
num_list[low - high]

600

In [6]:
num_list[-1]

800

In [7]:
num_list[-low]

600

In [8]:
num_list[2 * 3]

700

In [9]:
num_list[2] * 3

900

In [10]:
num_list[5 % 4]

200

In [11]:
len(num_list)

8

In [12]:
min(num_list)

100

In [13]:
max(num_list)

800

In [14]:
num_list[:3]

[100, 200, 300]

In [15]:
num_list[1:5]

[200, 300, 400, 500]

In [16]:
num_list[-1:-5:-1]

[800, 700, 600, 500]

In [17]:
num_list[-5:-1:1]

[400, 500, 600, 700]

7.2

In [26]:
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]

for i in list1:
    for a in list2:
        print(i, '*', a, '=', i * a)

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

7.3

In [2]:
list1 = ['I like', 'I love']
list2 = ['pancakes.', 'kiwi juice.', 'espresso.']

for i in list1:
    for a in list2:
        print(i, a)

I like pancakes.
I like kiwi juice.
I like espresso.
I love pancakes.
I love kiwi juice.
I love espresso.

7.4

In [50]:
t = [10, 20, 30, 40]
t.append(50)
t

[10, 20, 30, 40, 50]

In [51]:
t.remove(50)
t

[10, 20, 30, 40]

In [55]:
num = [1, 2]
alph = ['A', 'B', 'C']
num_alph = []
for i in num:
    for m in alph:
        a = m + str(i)
        num_alph.append(a)

num_alph

['A1', 'B1', 'C1', 'A2', 'B2', 'C2']

In [71]:
population = ['Seoul', 9765, 'Busan', 3441, 'Incheon', 2954]

pops = population[1::2]
print(sum(pops))

16160

In [3]:
word = input('input an alphabet: ')
word = list(word)
length = len(word)
total_length = length * 2

for i in range(length):
    for m in range(total_length):
        if m != total_length - 1:
            a = word[i:m]
            a = ''.join(a)
            print(a)
        else:
            b = word[m:i]
            b = ''.join(b)
            print(b)

input an alphabet:  python

TypeError: 'int' object is not callable

In [43]:
primes = []

for i in range(2, 101): # the range of numbers i am looking for prime numbers
    its_prime = True    # i created a variable called its_prime and made it True
    for m in range(2, 101): # i created the same range as of the first inside the first loop so that 
                            # i can divided every single numbers of the first range by all the numbers in this range
        if m == i:  # i made sure i don't divided by the same number.
            pass
        elif i % m == 0: # if i divided by a different number and, among the division i get zero then that number is not a prime number
            its_prime = False
    if its_prime == True:
        primes.append(i)  # after i finding my prime number, i add to my primes[] list.

print(primes, end = "")

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [8]:
s = input('enter a word: ')
s = list(s)
length = len(s)

for i in range(1):
    for m in range(1, length + 1):
        a = s[i : m]
        a = ''.join(a)
        print(a)
        
    for m in range(length-1, 0, -1):
        a = s[i : m]
        a = ''.join(a)
        print(a)

enter a word:  python

p
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p

7.7a

In [37]:
def highest_fruit_number_length_in_list(fruit_list):
    # list_length = len(list)
    highest_fruit_number_length = 0
    for fruit in fruit_list:
        fruit_length = len(fruit)
        if fruit_length > highest_fruit_number_length:
            highest_fruit_number_length = fruit_length
    return highest_fruit_number_length
            
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']

highest_fruit_name_length_list = []
fruit_name_length_list_remaining = []

highest_length = highest_fruit_number_length_in_list(fruit_list)

for fruit in fruit_list:
    if len(fruit) == highest_length:
        highest_fruit_name_length_list.append(fruit)
    a = fruit_list.remove(fruit)
    # fruit_name_length_list_remaining.append(a)
        

print(highest_fruit_name_length_list)
print(fruit_name_length_list_remaining)

None
['banana', 'orange']
[]

In [38]:
def highest_fruit_number_length_in_list(fruit_list):
    highest_fruit_number_length = 0
    for fruit in fruit_list:
        fruit_length = len(fruit)
        if fruit_length > highest_fruit_number_length:
            highest_fruit_number_length = fruit_length
    return highest_fruit_number_length
            
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']

highest_fruit_name_length_list = []
fruit_name_length_list_remaining = []

highest_length = highest_fruit_number_length_in_list(fruit_list)

for fruit in fruit_list[:]:  # Iterate over a copy of the list to avoid altering it
    if len(fruit) == highest_length:
        highest_fruit_name_length_list.append(fruit)
    else:
        fruit_name_length_list_remaining.append(fruit)

print("Fruits with the longest names:", highest_fruit_name_length_list)
print("Remaining fruits:", fruit_name_length_list_remaining)

Fruits with the longest names: ['banana', 'orange']
Remaining fruits: ['kiwi', 'apple', 'melon']

7.7b

In [30]:
fruit_list = ['kiwi', 'apple', 'melon', 'banana', 'orange']

for fruit in fruit_list:
    print(fruit, ": string length is", len(fruit))

kiwi : string length is 4
apple : string length is 5
melon : string length is 5
banana : string length is 6
orange : string length is 6

7.8

In [92]:
n = int(input('input a number not less than 1 and not greater than 10: '))

for s in range(0, (n*n), n*2):
    for i in range(s+1, s+n+1):
        print(i, end = ' ')
        if i == s+n:
            print(end = ' \n')
    for j in range((n*2)+s, n+s, -1):
        if s != 20:
            print(j, end = ' ')
            if j == (n+s)+1:
                print(end = ' \n')

input a number not less than 1 and not greater than 10:  6

1 2 3 4 5 6
12 11 10 9 8 7
13 14 15 16 17 18
24 23 22 21 20 19
25 26 27 28 29 30
36 35 34 33 32 31

In [93]:
def generate_snake_matrix(n):
    matrix = [[0] * n for _ in range(n)]
    num = 1
    for i in range(n):
        if i % 2 == 0:
            for j in range(n):
                matrix[i][j] = num
                num += 1
        else:
            for j in range(n-1, -1, -1):
                matrix[i][j] = num
                num += 1
    return matrix

def print_matrix(matrix):
    for row in matrix:
        print(" ".join(map(str, row)))

def main():
    n = int(input("Enter a value for n (greater than 1 and less than 10): "))
    if n <= 1 or n >= 10:
        print("Invalid input. Please enter a value greater than 1 and less than 10.")
        return
    snake_matrix = generate_snake_matrix(n)
    print("Snake Matrix:")
    print_matrix(snake_matrix)

if __name__ == "__main__":
    main()

Enter a value for n (greater than 1 and less than 10):  6

Snake Matrix:
1 2 3 4 5 6
12 11 10 9 8 7
13 14 15 16 17 18
24 23 22 21 20 19
25 26 27 28 29 30
36 35 34 33 32 31

chapter 10.1

In [3]:
import numpy as np

In [4]:
num_arr = np.arange(1, 21)
print(num_arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

In [5]:
reversed_array = num_arr[::-1]
print(reversed_array)

[20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1]

In [52]:
total_sum = np.sum(num_arr)
print(total_sum)

210

In [60]:
array = np.array([num_arr[0:4], num_arr[4:8], num_arr[8:12], num_arr[12:16], num_arr[16:20]])
print(array)
# num_dimensions_arr = array.ndim
# print(num_dimensions_arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]]
2

10.2_1

In [64]:
num_arr = np.arange(0, 25)
n_arr = np.array([num_arr[0:5], num_arr[5: 10], num_arr[10: 15], num_arr[15: 20], num_arr[20: 25]])
n_arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

10.2_2

In [73]:
first_element = n_arr[0, 0]
last_element = n_arr[4, 4]
print('first element : ', first_element)
print('last element: ', last_element)

first element :  0
last element:  24

10.2_3

In [74]:
a = n_arr[0:2]
print(a)

[[0 1 2 3 4]
 [5 6 7 8 9]]

10.2_4

In [76]:
b = n_arr[2:5]
print(b)

[[10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

10.2_5

In [78]:
new_n_arr = np.array([n_arr[0, 0:5:2], n_arr[1, 0:5:2], n_arr[2, 0:5:2], n_arr[3, 0:3:2], n_arr[4, 0:3:2]])
new_n_arr

array([[ 0,  2,  4],
       [ 5,  7,  9],
       [10, 12, 14],
       [15, 17, 19],
       [20, 22, 24]])

10.2_6

In [79]:
new_n_arr = np.array([n_arr[0, 0:5:2], n_arr[2, 0:5:2], n_arr[4, 0:5:2]])
new_n_arr

array([[ 0,  2,  4],
       [10, 12, 14],
       [20, 22, 24]])

10.2_7

In [98]:
new_arr = np.array([n_arr[0,0], n_arr[0,1], n_arr[0,2], n_arr[0,3], n_arr[0,4], n_arr[1,0], n_arr[1,1], n_arr[1,2], n_arr[1,3], n_arr[1,4]])
new_shape_arr = new_arr.reshape(5, 2)
print(new_shape_arr)

[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

10.3_1

In [112]:
# import random
random = np.random.rand(27)
a = random.reshape(3, 3, 3)
print(a)

[[[0.49762632 0.12644348 0.24477528]
  [0.177752   0.73151629 0.37284479]
  [0.51635496 0.78917257 0.28987017]]

 [[0.24219618 0.86484446 0.41615492]
  [0.64191739 0.90013815 0.96248345]
  [0.33923829 0.88446502 0.03242666]]

 [[0.36888471 0.94866047 0.43558717]
  [0.99407371 0.03706153 0.26686014]
  [0.43183396 0.25731189 0.60223715]]]

10.3_2

In [115]:
max = a.max()
max

0.9940737105429681

In [116]:
maxs = a.argmax()
maxs

21

10.4_1

In [131]:
num = np.arange(0, 2)
arr = np.array([num[1], num[0], num[1], num[0], num[1], 
                num[0], num[1], num[0], num[1], num[0], 
                num[1], num[0], num[1], num[0], num[1], 
                num[0], num[1], num[0], num[1], num[0],
                num[1], num[0], num[1], num[0], num[1]])
new_arr = arr.reshape(5, 5)
print(new_arr)

[[1 0 1 0 1]
 [0 1 0 1 0]
 [1 0 1 0 1]
 [0 1 0 1 0]
 [1 0 1 0 1]]

10.4_2

In [134]:
sum_row = np.array([new_arr[0].sum(), new_arr[1].sum(), new_arr[2].sum(), new_arr[3].sum(), new_arr[4].sum()])
print(sum_row)

[3 2 3 2 3]

10.5_1

In [138]:
a = np.arange(0, 32).reshape(4, 4, 2)
print(a)

[[[ 0  1]
  [ 2  3]
  [ 4  5]
  [ 6  7]]

 [[ 8  9]
  [10 11]
  [12 13]
  [14 15]]

 [[16 17]
  [18 19]
  [20 21]
  [22 23]]

 [[24 25]
  [26 27]
  [28 29]
  [30 31]]]

In [141]:
b = a.flatten()

print('the 10th element : ', b[9])
print('the 10th element : ', b[19])

the 10th element :  9
the 10th element :  19

In [11]:
b = np.array([[[1,2], [3,4]], [[5,6], [7,8]],[[6,6],[9,7]]])
print(b)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]

 [[6 6]
  [9 7]]]

In [4]:
a = b.ndim
print(a)

3

In [13]:
new_arr = np.array([[b[0, 0, :]], [b[1, 1, :]],[b[2,0,:]]])
print(new_arr)

[[[1 2]]

 [[7 8]]

 [[6 6]]]

[[array([1, 2])], [array([7, 8])], [array([6, 6])]]